body{
    background-color: #F0E1DA;
}
.mensagem{
   float:left;
   margin-left: 500px;
   margin-top: 400px;
   font-family: 'Whereas recognition of the inherent dignity';
  
}

.escolha{
  
    float: right;
    margin-top: 400px;
    margin-left: 100px;
    margin-right: 200px;
    align-items: center;
}

.rascunho{
    margin-left: 1800px;
    margin-top: 50px;
}

