*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: #F0E1DA;
}
.mensagem{
   margin-left: 350px;
   margin-top: 250px;
   font-family: 'Nerko One', cursive;

}

.escolha{ 
    margin-right: 200px;
}

.rascunho{
    margin-left: 1800px;
    margin-top: 50px;
}

